<% @contestants.each do |contestant| %>
  <section id="contestant-<%= contestant.id %>">
    <%= link_to "#{contestant.name}", "/contestants/#{contestant.id}" %>
    <%= contestant.age %>
    <%= contestant.hometown %>
  </section>
<% end %>

<section id="distinct-hometowns">
  <p>
    These Contestants are from these hometowns: 
    <% @contestants.unique_hometowns.each do |town| %>
      <%= "#{town}, " %>
    <% end %>
  </p>
</section>
